altair
numpy
pandas
pydeck
streamlit
matplotlib
seaborn
yfinance
scipy
plotly
scikit-learn
xgboost
openpyxl
statsmodels
xlrd
xlsxwriter
pandas
seaborn
matplotlib
scikit-learn
imblearn
catboost==1.2.7
tensorflow
